navbar {
    background-color: #3f51b5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .logo {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
  }
  
  .search-box {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    padding: 5px 10px;
  }
  
  .search-icon {
    margin-right: 5px;
  }
  
  .search-input {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 14px;
    color: #aaa;
  }
  
  .navigation-links {
    display: flex;
    align-items: center;
  }
  
  .link {
    color: #fff;
    margin-left: 10px;
    text-decoration: none;
  }
  
  .logout-link {
    margin-left: 20px;
    color: #fff;
    text-decoration: none;
  }
  